*.tlog
*.lastbuildstate
*.log
*.unsuccessfulbuild
*.cache
*.idb
*.pdb
*.ipch
*.xml
*.xml
*.xml
*.xml
TytoProto3Multiwii.opensdf
TytoProto3Multiwii.sdf
TytoProto3Multiwii.suo
Visual Micro/.TytoProto3Multiwii.vsarduino.h
Visual Micro/Compile.vmps.xml
Visual Micro/Configuration.Debug.vmps.xml
Visual Micro/Upload.vmps.xml